body { 
    text-align: center;
    display: flex;
    flex-direction: column;
}
div {
    display: inline-block;
}
table {
    margin: 20px;
    
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
